.block-text-icon {
  a {
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
    &::before {
      content: "";
      display: inline-block;          
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 1rem;
    }
  }
  &.icon-product {
    a {
      &::before {
        width: 2rem; 
        height: 2rem;
        background-image: url(../../images/icons/ic_product.svg);
      }
    }
  }
  &.icon-time {
    a {
      &::before {
        width: 2rem; 
        height: 2rem;
        background-image: url(../../images/icons/ic_time.svg);
      }
    }
  }
  &.icon-card {
    a {
      &::before {
        width: 2rem; 
        height: 1.4rem;
        background-image: url(../../images/icons/ic_card.svg);
      }
    }
  }
}
