.block-select {
  position: relative;  
  max-width: 32.5rem;
  width: 100%;
  .form-group {
    .form-control {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
      width: 100%;
    }
  }
  .select-wrapper-icon {
    position: absolute;
    top: 50%;
    right: 1.3rem;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    .icon {
      width: 1.5rem;
    }
  }
}
